* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-content {
  height: 3226px;
  width: 1440px;
  left: 1022px;
  top: -1189px;
  border-radius: 0px;
}
.hero-section {
  position: absolute;
  width: 1440px;
  height: 504px;
  left: 0px;
  top: 0px;
  background-color: #f1f3ff;
}
/* style header nav */
.header-nav {
  position: absolute;
  width: 1055px;
  height: 35px;
  left: 136px;
  top: 24px;
  /* border: 1px solid black; */
}
.logo > a {
  height: 34px;
  width: 100px;
  left: 136px;
  top: 25px;
  border-radius: 0px;
  background: #0d28a6;
}
.navigation {
  width: 327px;
  height: 20px;
  left: 864px;
  top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
.navigation a {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

/* style text */
.text-1 {
  position: absolute;
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;
}
.text-1 p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.text-2 {
  position: absolute;
  width: 468px;
  height: 60px;
  left: 136px;
  top: 301px;
}
.text-2 p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* style button */
button {
  position: absolute;
  width: 140px;
  height: 36px;
  left: 136px;
  top: 377px;
  background-color: #5cb85f;
  border: #5cb85f;
}
button a {
  width: 116px;
  height: 20px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

/* style img car */
.img-bg {
  position: absolute;
  height: 407px;
  width: 704px;
  left: 736px;
  top: 97px;
}
.bg {
  position: absolute;
  width: 704px;
  height: 243px;
  left: 736px;
  top: 261px;
  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}
